<div class="dashboard-container">
  <div class="buttons-container">
    <button mat-raised-button color="primary" (click)="abrirModalCadastro()">
      <span style="font-size: 18px; margin-right: 5px;">👶</span>
      Nova Criança
    </button>
    <button mat-raised-button color="accent" (click)="abrirModalPresenca()">
      <span style="font-size: 18px; margin-right: 8px;">✅</span>
      Registrar Presença
    </button>
  </div>
  <div class="cards-container">
    <div class="dashboard-card">
      <div class="card-title">Crianças Cadastradas</div>
      <div class="emoji">👶</div>
      <div class="card-value-subcard">
        <span class="card-value">{{ totalCriancas }}</span>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="card-title">Presentes no Último Dia</div>
      <div class="emoji">✅</div>
      <div class="card-value-subcard">
        <span class="card-value">{{ presentesUltimoDia }}</span>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="card-title">Crianças 2 a 6 anos</div>
      <div class="emoji">🧒</div>
      <div class="card-value-subcard">
        <span class="card-value">{{ quantidade2a6 }}</span>
      </div>
    </div>
    <div class="dashboard-card">
      <div class="card-title">Crianças 7 a 11 anos</div>
      <div class="emoji">🧑</div>
      <div class="card-value-subcard">
        <span class="card-value">{{ quantidade7a11 }}</span>
      </div>
    </div>
  </div>
</div>
<div style="width: 100%; margin-top: 20px;">
  <canvas id="presencasPorDiaChart" style="width: 80%; max-width: 90%; height: 300px;"></canvas>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const ctx = document.getElementById('presencasPorDiaChart').getContext('2d');
    const chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'],
        datasets: [{
          label: 'Presenças',
          data: [12, 19, 3, 5, 2, 3, 10],
          borderColor: 'rgb(255, 99, 132)',
          backgroundColor: 'rgba(255, 99, 132, 0.5)',
          y: {
            beginAtZero: true,
            title: { display: false },
            ticks: { display: false },
            grid: { display: false },
            border: { display: false }
          }
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            title: { display: false },
            ticks: { display: false },
            grid: { display: false },
            border: { display: false }
          }
        }
      }
    });
  });
</script> 